* {
	padding: 0px;
	margin: 0px;
	box-sizing: content-box;
}

body {
	font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
	height: 100%;
	height: 100vh;
}

.header {
	text-align: left;
	background-color: #FFF;
	color: #000;
	font-size: 20px;
	width: 100%;
	height: 64px;  
	line-height: 64px;
}

.appLogo {
	float: left;
	height: 44px;
	padding: 10px;
}

.searchArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 325px;
}

.searchArea > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.searchArea > h1 {
	font-size: 48px;
	color: #FFF;
	margin: 48px;
}

input {
	background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
	border: 1px solid rgb(31, 255, 61);
	border-radius: 5px;
	font: normal normal 400 normal 20px / 30px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: rgb(73, 80, 87) none 0px;
	padding: 8px 16px;
	margin-right: 10px;
	width: 400px;
	height: 30px;
}

.invalidData {
	background: rgb(255, 236, 236) none repeat scroll 0% 0% / auto padding-box padding-box;
	border: 1px solid rgb(177, 177, 177);
}

.submitBtn {
	background: rgb(0, 123, 255) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 1px solid rgb(0, 123, 255);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font: normal normal 400 normal 20px / 30px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: rgb(255, 255, 255) none 0px;
	padding: 8px 16px;
	cursor: pointer;
	width: 100px;
	height: 30px;
}

.submitBtn:hover {
	background: rgb(63, 156, 255) none repeat scroll 0% 0% / auto padding-box border-box;
}

.submitBtn:disabled {
	color: rgba(255, 255, 255, 0.5);
	background: rgba(0, 52, 107, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 1px solid rgba(0, 123, 255, 0.5);
}


