.resultsContainer {
    margin: auto;
    background-color: #FFF;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
    width: 650px;
    height: 250px;
}

.resultsContainer > img {
    float: left;
    width: 142px;
    height: 230px;
    border-radius: 15px 0px 0px 15px;
    margin: 10px;
}

.errorContainer {
    margin: auto;
    background-color: #FFF;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
    text-align: center;
    line-height: 250px;
    width: 650px;
    height: 250px;
}

.mpInfo {
    font-weight: 300;
    margin-top: 7px;
}

.mpInfo > div:nth-of-type(odd) {
    float:left;
    width: 120px;
}

a:link {
    text-decoration: none;
}